body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: rgb(207, 205, 205);
/* background: black; */
}



/* navbar bar div */

#header {

    width: 95%;
    border-radius: 0 30px 0 30px;
    margin: auto;
    margin-top: 1rem;

    height: 5.6em;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 12px 5px yellow;
    background-color: white;
    /* background-color:#A1C349; */
    /* background-color:rgb(160, 160, 160); */
    /* background-image: linear-gradient(to right top, #b60cf2, #9e009c, #730058, #3e0a27, #000000); */
    /* background-image: url(/image/fcdf12ab3c0e48d7908ffc9a78fe5c93--library-bookshelves-bookcases.jpg);
    background-size: contain; */


}
#username{
    color: brown;
    font-weight: bolder;
    position: absolute;
    right: 15rem;
}

#logo {
    /* width: 11rem; */
    /* background-color: aqua; */
    display: flex;
    padding-left: 20px;
    align-items: center;
    font-size: 35px;
}

#logo-book-icon {
    font-size: 3rem;
    color: red;
}

/* .fa-book{
    color:black;
} */

#logo>h2 {
    /* color: rgb(32, 99, 86); */

    font-size: 1.9rem;
    font-style: italic;
}

#logo-span {
    /* color: rgb(35, 163, 237); */
    color: orange;
}

#mycart {
    color: green;
    font-size: 1.3rem;
}

#mycart:hover {
    cursor: pointer;
    color: orange;
}

.browse-icon {
    position: relative;
    font-size: 1.3rem;

    color: green;


}

.browse-icon>i {
    margin-left: -5px;
    font-size: 18px;
}

.browse-icon:hover {
    /* background-color: red; */
    color: orange;

    cursor: pointer;
}

.browse-list {

    position: absolute;
    right: -68px;
    top: 30px;
    font-size: 15px;
    width: 150px;
    list-style: none;
    display: block;
    display: none;
    z-index: 999;


}

.browse-list li {
    border: 1px solid rgb(142, 138, 138);
    height: 40px;
    width: 100%;

    text-align: center;
    background: green;
    color: orange;

}

.browse-list li:hover {
    color: aqua;
}

.browse-list.active {
    display: block;
}



#search-div {
    /* border: 1px solid rgb(192, 66, 66); */
    border: 1px solid green;
    border-radius: 30px;

}

#bycategory {
    border: none;
    font-size: 20px;
    width: 3rem;
    border-radius: 30px 0 0 30px;


}

#search-bar {
    border: none;
    outline: none;
    font-size: 20px;




}

#search-btn {
    border: none;
    background-color: white;
    height: 100%;
    border-radius: 0 30px 30px 0px;

}

#search-btn>i {
    background-color: white;
    font-size: 25px;
}

#button-div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 3rem;
    position: relative;
}

#button-div span {
    font-size: 2.5rem;
    /* color: rgba(8, 192, 100, 0.604); */
    color: green;
}

#button-div span:hover {
    color: orange;
}

#button-div #cart-count {
    position: absolute;
    width: 20px;
    right: 4px;
    font-size: 0.8rem;
    top: -17px;
    background: yellow;
    border-radius: 100%;
    text-align: center;

}

#login-btn,
#signup-btn {
    padding: 0.4rem;
    box-shadow: 0 0 5px 1px green;
    background: rgba(8, 192, 100, 0.604);
    border: none;
    color: white;
    cursor: pointer;
}

#login-btn:hover,
#signup-btn:hover {
    background: rgb(8, 192, 100);
}

#menubar-div {
    display: none;
}

/* =============main page css=================== */

.total{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    background: goldenrod;
   
    width: 70%;
    border: 70px;border-radius: 20px;
     margin: auto;
    margin-top: 1rem;
}
.total h1{
    color: aqua;
}
.total>div{
    display: flex;
    align-items: center;
    gap:0.4rem;
}
.total>div>span{
    color: yellow;
    font-size: 1.8rem;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    /* border: 1px solid red; */
     width: 70%;;
    margin:1rem auto;
    background: #9EBD6E;
    border-radius: 30px;
    
}
.container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #9EBD6E; */
    background-color: rgba(254, 254, 36, 0.45);
    /* background: black; */
    /* border: 1px solid black; */
    padding: 1rem;
    border-radius: 30px;
    transform: scale(0.9);
}
.container>div>img{
    height: 14rem;
    width: 11rem;
    border-radius: 0 20px 20px 0px;
}
.container>div>h1{
    font-size: 1rem;
    height: 2rem;
    text-align: center;
    color: brown;
    margin-bottom: 0;
}
.container>div>h2{
    margin-top: 0.8rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: yellow;
}
.container>div>h3{
    margin: 1rem 0;
    font-size: 1rem;
    color: green;
}
.pricespan{
    color: red;
    margin-right: 1rem;
}
.removebtn{
    margin-top: 1rem;
    background: rgb(154, 248, 248);
    border: none;
    padding: 0.6rem;
    border-radius:10px;
}
.removebtn:hover{
    /* background: rgb(154, 248, 248); */
    box-shadow: 0 0 12px 10px aqua;
}
.buybtnBox>button{
    background: plum;
    border: none;
    padding: 1rem;
    border-radius: 10px;
}
.buybtnBox>button:hover{
    cursor: pointer;
    background-color: pink;
    box-shadow: 0 0 10px 5px rgb(244, 28, 64);
}


@media screen and (max-width: 1002px){
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 653px){
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }
    nav{
        position: relative;
    }
    #button-div{
        position: fix;
        right: 0;
        top:0;
        width: 90px;
        /* background: pink; */
    }
   #username{
        position: absolute;
        right: 2rem;
        top:0rem;
        color: brown;
    }
}
@media screen and (max-width: 494px){
    .total{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 0;
    }
    .total button{
        margin-bottom: 1rem;
    }
}